body {
  background-color: black;
  color: white;
}

div {
  width: 50%;
  margin-left: 25%;
  border: 5px solid white;
}

h1 {
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
}

h1,
p {
  text-align: center;
}

img {
  width: 100%;
}
